.fulldiv1{
    width: 590px;
    display: flex;
    flex-direction: row;
}

.experience .numberexp .fulldiv1,
.fulldiv2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 70px 0px 0px 150px;
}

.experience .numberexp .fulldiv1 .div1 h1 {
    font-weight: 600;
    font-size: 54px;
    line-height: 60px;
    color: #d96122;
    padding-right: 60px;
}

.experience .numberexp .fulldiv1 .div1 h5 {
    font-weight: 500;
    font-size: 18px;
    padding-right: 60px;
}

// .experience .numberexp .fulldiv1 .div2 h1 {
//     font-weight: 600;
//     font-size: 54px;
//     line-height: 60px;
//     color: #d96122;
// }

// .experience .numberexp .fulldiv1 .div2 h5 {
//     font-weight: 500;
//     font-size: 18px;
// }

// .experience .numberexp .fulldiv2 .div3 h1 {
//     font-weight: 600;
//     font-size: 54px;
//     line-height: 60px;
//     color: #d96122;
//     padding-right: 60px;
// }

// .experience .numberexp .fulldiv2 .div3 h5 {
//     font-weight: 500;
//     font-size: 18px;
//     padding-right: 60px;
// }

// .experience .numberexp .fulldiv2 .div4 h1 {
//     font-weight: 600;
//     font-size: 54px;
//     line-height: 60px;
//     color: #d96122;
// }

// .experience .numberexp .fulldiv2 .div4 h5 {
//     font-weight: 500;
//     font-size: 18px;
// }

// .experience{
//     background: linear-gradient(to left, #eb8f5e, #ffffffc8);
//     color: #d66f37;
//     font-family: poppins, sans-serif;
// }