.awards{
    display: flex;
    justify-content: center;
    align-items: center;
    // margin: 70px 0;
}

// .awards h1{
//     min-width: 20%;
//     flex-wrap: wrap;
// }

.awards .awardimage img{   
    margin: 20px;
}