<div class="topbar">
  <div class="header">
    <nav>
      <ul>
        <img src="../assets/images/tagline.png">
        <li><a href="#">{{ caseStudy }}</a></li>
        <li>
          <label>{{navbar.about}}</label>
          <select>

          </select>
        </li>
        <li>
          <label>{{navbar.heiD}}</label>
          <select>

          </select>
        </li>
        <li>
          <label>{{navbar.tech}}</label>
          <select>

          </select>
        </li>
        <li>
          <label>{{navbar.indu}}</label>
          <select>

          </select>
        </li>
        <div class="btnget">
          <button [type]="btntype" style="display: flex; justify-content: end;">GET QUOTE</button>
        </div>
      </ul>
    </nav>
  </div>

  <div class="headtext">
    <h1>{{heading.head1}}<br>{{heading.head2}}</h1>
    <h1>{{heading.title1}}<span> {{heading.title2}}</span></h1>
    <p>{{heading.des1}}<br>{{heading.des2}}</p>
    <button>{{heading.button}}</button>
    <img [src]="heading.image">
  </div>
</div>

<!-- ___________________________________________________________ -->


<div class="services">
  <h1>{{serv.title1}}</h1>
  <span class="headerline"></span>
  <div class="boxes">
    <div class="divcontent divcontent1" style="border: none;">
      <h1 style="text-align: left; line-height: 70px;font-weight: 700;">{{serv.title2}}<br> <span
          style="font-weight: bolder; font-size: 60px;">{{serv.title3}}</span><br>{{serv.title4}}</h1>
    </div>

    <div class="divcontent divcontent2">
      <div class="flex">
        <img [src]="service1.images" alt="logo">
        <h2>{{service1.title}}</h2>
      </div>
      <p>{{service1.description}}</p>
      <a href="#">{{service1.button}}</a>
    </div>

    <div class="divcontent divcontent3">
      <div class="flex">
        <img [src]="service2.images" alt="logo">
        <h2>{{service2.title}}</h2>
      </div>
      <p>{{service2.description}}</p>
      <a href="#">{{service2.button}}</a>
    </div>

    <div class="divcontent divcontent4">
      <div class="flex">
        <img [src]="service3.images" alt="logo">
        <h2>{{service3.title}}</h2>
      </div>
      <p>{{service3.description}}</p>
      <a href="#">{{service3.button}}</a>
    </div>

    <div class="divcontent divcontent5">
      <div class="flex">
        <img [src]="service4.images" alt="logo">
        <h2>{{service4.title}}</h2>
      </div>
      <p>{{service4.description}}</p>
      <a href="#">{{service4.button}}</a>
    </div>

    <div class="divcontent divcontent6">
      <div class="flex">
        <img [src]="service5.images" alt="logo">
        <h2></h2>
      </div>
      <p>{{service5.description}}</p>
      <a href="#">{{service5.button}}</a>
    </div>

    <div class="divcontent divcontent7">
      <h2>{{serv.title5}}<span style="font-weight: bold;">{{serv.title6}}</span></h2>
      <button>{{serv.title7}}</button>
    </div>
  </div>
</div>

<!-- ___________________________________________________________ -->
<div class="experience">
  <div class="contentexp">
    <h2>{{exprience.title}}</h2>
    <p>{{exprience.des}}</p>
    <button>Contact Us</button>
  </div>
  <span>
    <img [src]="womenImg" height="490">
  </span>

  <div class="numberexp">
    <div class="fulldiv1">
      <div class="div1">
        <img [src]="numExp1.image">
        <h1>{{numExp1.heading}}</h1>
        <h5>{{numExp1.head2}}</h5>
      </div>
      <div class="div2">
        <img [src]="numExp2.image">
        <h1>{{numExp2.heading}}</h1>
        <h5>{{numExp2.head2}}</h5>
      </div>
    </div>

    <div class="fulldiv2">
      <div class="div3">
        <img [src]="numExp3.image">
        <h1>{{numExp3.heading}}</h1>
        <h5>{{numExp3.head2}}</h5>
      </div>
      <div class="div4">
        <img [src]="numExp4.image">
        <h1>{{numExp4.heading}}</h1>
        <h5>{{numExp4.head2}}</h5>
      </div>
    </div>
  </div>
</div>


<!-- ____________________________________________________________________ -->

<h1 style="text-align: center;margin: 40px;font-size: 2rem; margin-bottom: 0;">{{tech.head}}</h1>
<span class="headerline"></span>
<div class="row">
  <div class="menu">
    <ul>
      <li class="active"><a href="">{{tecno.item1}}</a></li>
      <li><a href=""></a>{{tecno.item2}}</li>
      <li><a href=""></a>{{tecno.item3}}</li>
      <li><a href=""></a>{{tecno.item4}}</li>
      <li><a href=""></a>{{tecno.item5}}</li>
      <li><a href=""></a>{{tecno.item6}}</li>
      <li><a href=""></a>{{tecno.item7}}</li>
      <li><a href=""></a>{{tecno.item8}}</li>
      <li><a href=""></a>{{tecno.item9}}</li>
    </ul>
  </div>
  <div class="language">
    <div class="web">
      <h1>{{tech.subHead}}</h1>
      <h2 style="margin-top: 20px;font-weight: 400;">{{tech.title1}}</h2>
      <div class="backend">
        <div class="ror">
          <img [src]="ror.image" alt="ror">
          <h3>{{ror.title}}</h3>
        </div>
        <div class="python">
          <img [src]="python.image">
          <h3>{{python.title}}</h3>
        </div>
        <div class="node">
          <img [src]="node.image">
          <h3>{{node.title}}</h3>
        </div>
        <div class="php">
          <img [src]="php.image">
          <h3>{{php.title}}</h3>
        </div>
        <div class="java">
          <img [src]="java.image">
          <h3>{{java.title}}</h3>
        </div>
        <div class="go">
          <img [src]="go.image">
          <h3>{{go.title}}</h3>
        </div>

      </div>

      <h2>{{tech.title2}}</h2>
      <div class="frontend">
        <div class="react">
          <img [src]="react.image">
          <h3>{{react.title}}</h3>
        </div>
        <div class="angular">
          <img [src]="angular.image">
          <h3>{{angular.title}}</h3>
        </div>
        <div class="typescipt">
          <img [src]="typescript.image">
          <h3>{{typescript.title}}</h3>
        </div>
        <div class="vue">
          <img [src]="vuejs.image">
          <h3>{{vuejs.title}}</h3>
        </div>
        <div class="mateor">
          <img [src]="mateor.image">
          <h3>{{mateor.title}}</h3>
        </div>
        <div class="javascript">
          <img [src]="javascript.image">
          <h3>{{javascript.title}}</h3>
        </div>
        <div class="html">
          <img src="">
          <h3></h3>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ____________________________________________________________________ -->


<h1 class="taglinewhyhead">{{chooseHead}}</h1>
<span class="headerline"></span>
<p class="taglinewhyp">{{chooseDes}}</p>
<div class="empowers">
  <div class="empowerbox">
    <div class="imgnumflex">
      <img [src]="choose1.image">
      <h1>{{choose1.title1}}</h1>
    </div>
    <h2>{{choose1.title2}}</h2>
    <p>{{choose1.des}}</p>
  </div>
  <div class="empowerbox">
    <div class="imgnumflex">
      <img [src]="choose2.image">
      <h1>{{choose2.title1}}</h1>
    </div>
    <h2>{{choose2.title2}}</h2>
    <p>{{choose2.des}}</p>
  </div>
  <div class="empowerbox">
    <div class="imgnumflex">
      <img [src]="choose3.image">
      <h1>{{choose3.title1}}</h1>
    </div>
    <h2>{{choose3.title2}}</h2>
    <p>{{choose3.des}}</p>
  </div>
  <div class="empowerbox">
    <div class="imgnumflex">
      <img [src]="choose4.image">
      <h1>{{choose4.title1}}</h1>
    </div>
    <h2>{{choose4.title2}}</h2>
    <p>{{choose4.des}}</p>
  </div>
  <div class="empowerbox">
    <div class="imgnumflex">
      <img [src]="choose5.image">
      <h1>{{choose5.title1}}</h1>
    </div>
    <h2>{{choose5.title2}}</h2>
    <p>{{choose5.des}}</p>
  </div>
  <div class="empowerbox lastempowerbox">
    <h1><span>{{endblog.title1}} </span> {{endblog.title2}}<span> {{endblog.title3}}</span> {{endblog.title4}}</h1>
    <button>{{endblog.btn}}</button>
  </div>
</div>

<!-- ____________________________________________________________________ -->

<div class="reviews">
  <div class="reviewword">
    <h1>{{reviewhead.mainHead}}</h1>
    <span class="headerline"></span>
    <p>{{reviewhead.des1}}</p>
    <p>{{reviewhead.des2}}</p>
  </div>
  <div class="reviewsboxes">
    <div class="revbox">
      <div class="rating">
        <h3>{{revie1.head}}</h3>
        <div class="icon">
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
        </div>
      </div>

      <p>{{revie1.des}}</p>
      <small>{{revie1.name}}</small>

      <div class="verified">
        <i class="bi bi-patch-check-fill"></i>&nbsp;
        <p>{{revie1.verify}}</p>
      </div>
    </div>

    <div class="revbox">
      <div class="rating">
        <h3>{{revie2.head}}</h3>
        <div class="icon">
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
        </div>
      </div>

      <p>{{revie2.des}}</p>
      <small>{{revie2.name}}</small>

      <div class="verified">
        <i class="bi bi-patch-check-fill"></i>
        <p>{{revie2.verify}}</p>
      </div>
    </div>

    <div class="revbox">
      <div class="rating">
        <h3>{{revie3.head}}</h3>
        <div class="icon">
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
        </div>
      </div>

      <p>{{revie3.des}}</p>
      <small>{{revie3.name}}</small>

      <div class="verified">
        <i class="bi bi-patch-check-fill"></i>
        <p>{{revie3.verify}}</p>
      </div>
    </div>

    <div class="revbox">
      <div class="rating">
        <h3>{{revie6.head}}</h3>
        <div class="icon">
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
        </div>
      </div>

      <p>{{revie6.des}}</p>
      <small>{{revie6.name}}</small>

      <div class="verified">
        <i class="bi bi-patch-check-fill"></i>
        <p>{{revie6.verify}}</p>
      </div>
    </div>

    <div class="revbox">
      <div class="rating">
        <h3>{{revie4.head}}</h3>
        <div class="icon">
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
        </div>
      </div>

      <p>{{revie4.des}}</p>
      <small>{{revie4.name}}</small>

      <div class="verified">
        <i class="bi bi-patch-check-fill"></i>
        <p>{{revie4.verify}}</p>
      </div>
    </div>

    <div class="revbox">
      <div class="rating">
        <h3>{{revie5.head}}</h3>
        <div class="icon">
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
        </div>
      </div>

      <p>{{revie5.des}}</p>
      <small>{{revie5.name}}</small>

      <div class="verified">
        <i class="bi bi-patch-check-fill"></i>
        <p>{{revie5.verify}}</p>
      </div>
    </div>


  </div>

</div>

<!-- ____________________________________________________________________ -->


<div class="awards">
  <!-- <div class="awardhead"> -->
  <h1>{{award.title1}}<br> {{award.title2}}</h1>
  <!-- </div> -->
  <div class="awardimage">
    <img [src]="award.image1" height="160" width="160">
    <img [src]="award.image2" height="160" width="160">
    <img [src]="award.image3" height="160" width="160">
    <img [src]="award.image4" height="160" width="160">
    <img [src]="award.image5" height="160" width="160">
  </div>

</div>

<!-- ____________________________________________________________________ -->

<div class="blogs">
  <h1>Our Blogs</h1>
  <span class="headerline"></span>
  <div class="bloggers">
    <div class="blog">
      <img [src]="blog1.image">
      <div style="display: flex;justify-content: space-between;">
        <button>{{blog1.button}}</button>
        <p>{{blog1.date}}</p>
      </div>
      <h3>{{blog1.head1}}</h3>
      <p>{{blog1.des}}</p>
      <a href="#">{{blog1.endbtn}}</a>
    </div>
    <div class="blog">
      <img [src]="blog2.image">
      <div style="display: flex;justify-content: space-between;">
        <button>{{blog2.button}}</button>
        <p>{{blog2.date}}</p>
      </div>
      <h3>{{blog2.head1}}</h3>
      <p>{{blog2.des}}</p>
      <a href="#">{{blog2.endbtn}}</a>
    </div>
    <div class="blog">
      <img [src]="blog3.image">
      <div style="display: flex;justify-content: space-between;">
        <button>{{blog3.button}}</button>
        <p>{{blog3.date}}</p>
      </div>
      <h3>{{blog3.head1}}</h3>
      <p>{{blog3.des}}</p>
      <a href="#">{{blog3.endbtn}}</a>
    </div>
  </div>
</div>

<!-- ____________________________________________________________________ -->

<div class="contactus">
  <div class="formdetail">
    <div class="address">

      <h4>{{address}}</h4>

      <div class="place">
        <h6>{{add1.head}}</h6>
        <p class="add-city">{{add1.add}}</p>
        <a href="tel:+91 99138 08285" class="contact mobile-no"><i class="bi bi-telephone-fill"></i>&nbsp;&nbsp;
          {{add1.number}} </a>
      </div>

      <div class="place">
        <h6>{{add2.head}}</h6>
        <p class="add-city">{{add2.add}}</p>
        <a href="tel: +1 (404) 483-3388" class="contact mobile-no"><i
            class="bi bi-telephone-fill"></i>&nbsp;&nbsp;{{add2.number}}</a>
      </div>

      <div class="place">
        <h6>{{add3.head}}</h6>
        <p class="add-city">{{add3.add}}</p>
        <a href="tel:+44 78240 75400" class="contact mobile-no"><i
            class="bi bi-telephone-fill"></i>&nbsp;&nbsp;{{add3.number}}</a>
      </div>

      <div class="place">
        <a href="mailto:solutions@taglineinfotech.com" class="mail"><i
            class="bi bi-envelope-fill"></i>{{add3.email}}</a>
      </div>

    </div>
  </div>
  <div class="forms">
    <h1>{{formHead}}</h1>
    <input type="text" placeholder="Full Name"><br>
    <input type="text" placeholder="Phone"><br>
    <input type="email" placeholder="Email"><br>
    <textarea placeholder="Message" rows="3"></textarea><br>
    <button>Send Message</button>
  </div>
</div>

<!-- ____________________________________________________________________ -->

<div class="footer">
  <div class="firstfooter">
    <div class="cont1">
      <h3>{{footerhead.headMian}}</h3>
      <p>{{footerhead.head1}} <span style="color:#d66f37">{{footerhead.head2}}</span> {{footerhead.head3}}<span
          style="color:#d66f37"> {{footerhead.head4}}</span></p>
    </div>
    <div class="cont2">
      <input type="text" placeholder="Email"><span><button>{{footerhead.head5}}</button></span>
      <p>{{footerhead.head6}}</p>
    </div>
  </div>
  <div class="division">
    <div>
      <div class="hr">
        <h3>{{footer1.head}}</h3>
        <ul>
          <li><a href=""><i class="bi bi-telephone-fill"></i>&nbsp; {{footer1.mail}}</a></li>
          <li><a href=""><i class="bi bi-envelope-fill"></i>&nbsp; {{footer1.number}}</a></li>
        </ul>
      </div>
      <div class="sales">
        <h3>{{footer2.head}}</h3>
        <ul>
          <li><a href="">{{footer2.mail}}</a></li>
          <li><a href="">{{footer2.number}}</a></li>
        </ul>
      </div>
    </div>
    <div class="help">
      <h3>{{help.head}}</h3>
      <ul>
        <li><a href=""><i class="bi bi-telephone-fill"></i>&nbsp;{{help.item1}}</a></li>
        <li><a href=""><i class="bi bi-file-person-fill"></i>&nbsp;{{help.item2}}</a></li>
        <li><a href=""><i class="bi bi-envelope-fill"></i>&nbsp;{{help.item3}}</a></li>
        <li><a href=""><i class="bi bi-camera-video"></i>&nbsp;{{help.item4}}</a></li>
        <li><a href=""><i class="bi bi-file-earmark-lock2-fill"></i>&nbsp;{{help.item5}}</a></li>
        <li><a href=""><i class="bi bi-diagram-3-fill"></i>&nbsp;{{help.item6}}</a></li>
      </ul>
    </div>
    <div class="service">
      <h3>{{service.head}}</h3>
      <ul>
        <li><a href="">{{service.item1}}</a></li>
        <li><a href="">{{service.item2}}</a></li>
        <li><a href="">{{service.item3}}</a></li>
        <li><a href="">{{service.item4}}</a></li>
        <li><a href="">{{service.item5}}</a></li>
      </ul>
    </div>
    <div class="hire">
      <h3>{{hire.head}}</h3>
      <ul>
        <li><a href="">{{hire.item1}}</a></li>
        <li><a href="">{{hire.item2}}</a></li>
        <li><a href="">{{hire.item3}}</a></li>
        <li><a href="">{{hire.item4}}</a></li>
        <li><a href="">{{hire.item5}}</a></li>
        <li><a href="">{{hire.item6}}</a></li>
      </ul>
    </div>

  </div>

  <div class="lastfooterdiv">
    <img src="../assets/images/tagline-stamp.png">
    <div><a href="" style="text-decoration: none;color: gray;font-size: 17px;">Follow Us <i class="bi bi-facebook"></i>
        <i class="bi bi-linkedin"></i>
        <i class="bi bi-twitter"></i>
        <i class="bi bi-instagram"></i>
        <i class="bi bi-globe"></i>

      </a></div>
    <p>©<span style="color:#d66f37"> {{footerhead.head7}}</span> {{footerhead.head8}}<a href=""
        style="text-decoration: none;color:#d66f37">{{footerhead.head9}}</a></p>
  </div>
</div>

<router-outlet></router-outlet>