// .row .language {
//     width: 50%;
//     box-shadow: 0 0 10px rgb(168, 167, 167);;
//     padding: 40px;
// }

.backend {
    display: flex;
    flex-wrap: wrap;
}

.backend div {
    padding: 40px;
}

.backend img {
    height: 50px;
    max-width: 100px;
}

.backend h3 {
    font-weight: 300;
    text-align: center;
}