.empowers .lastempowerbox{
    width: 75%;
}

.lastempowerbox h1{
    font-size: 25px;
    text-align: center;
    margin-top: 70px;
    font-weight: bold;
}

.empowers .lastempowerbox span{
    color: #D96122;
    font-weight: bold;
}

.empowers .lastempowerbox button{
    background: #d96122;
    font-weight: bold;
    font-size:15px;
    color: white;
    border-radius: 5px;
    padding: 20px;
    border:1px solid #d96122;
    cursor: pointer;
    display: block;
    margin: auto;
    margin-top: 30px;
    box-shadow: 0 5px 35px rgb(0 0 0 / 20%);
}

