.experience {
    display: flex;
    width: 81%;
    min-height: 68vh;
}

.experience .contentexp {
    background: linear-gradient(119.18deg, rgba(217, 97, 34, .8) 0%, rgba(217, 97, 34, .2) 100%);
    text-align: center;
    padding-bottom: 60px;
}

.experience .contentexp h2 {
    font-family: poppins, sans-serif;
    font-size: 35px;
    color: #fff;
    font-weight: bold;
    margin: 50px 0 25px 150px;
    text-align: left;
}

.experience .contentexp p {
    margin: 50px 150px;
    font-family: poppins, sans-serif;
    font-size: 20px;
    color: #fff;
    text-align: left;
    line-height: 35px;
}

.experience .contentexp button {
    border: none;
    height: 60px;
    min-width: 20%;
    font-size: 20px;
    background: #D96122;
    line-height: 30px;
    font-weight: 700;
    padding: 13px 35px;
    color: #fff;
    border-radius: 10px;
    margin: 25px 20px;
    cursor: pointer;
    box-shadow: 0 5px 35px rgb(0 0 0 / 20%);
    justify-content: start;
    float: left;
    margin: 0 150px;
}

.experience .contentexp button:hover {
    background-color: #fff;
    color: #D96122;
    transition: all ease-in .3s;
    border: 2px solid #D96122;
}

// .experience {
//     background: linear-gradient(to left, #eb8f5e, #ffffffc8);   
//     color: #d66f37;
//     font-family: poppins, sans-serif;
// }